In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('Iris.csv')

In [3]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
#checking the categorical data

In [8]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [9]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
#converting this categorical data into numeric data

In [11]:
from sklearn import preprocessing

In [12]:
encoder=preprocessing.LabelEncoder()

In [13]:
df['Species']=encoder.fit_transform(df['Species'])

In [14]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [15]:
df['Species'].unique()

array([0, 1, 2])

In [16]:
#using group by to group the data according to the species

In [17]:
data=df.groupby(['Species'])

In [18]:
data.groups.keys()

dict_keys([0, 1, 2])

In [19]:
df.groupby(['Species'])['SepalWidthCm'].min()

Species
0    2.3
1    2.0
2    2.2
Name: SepalWidthCm, dtype: float64

In [20]:
df.groupby(['Species'])['SepalWidthCm'].max()

Species
0    4.4
1    3.4
2    3.8
Name: SepalWidthCm, dtype: float64

In [21]:
df.groupby(['Species'])['SepalWidthCm'].mean()

Species
0    3.418
1    2.770
2    2.974
Name: SepalWidthCm, dtype: float64

In [22]:
df.groupby(['Species'])['SepalWidthCm'].median()

Species
0    3.4
1    2.8
2    3.0
Name: SepalWidthCm, dtype: float64

In [24]:
#finding the mode
df.groupby(['Species'])['SepalWidthCm'].apply(lambda x: x.mode())

Species
0        0    3.4
1        0    3.0
2        0    3.0
Name: SepalWidthCm, dtype: float64

In [27]:
#easy way to find mode
import statistics
df.groupby(['Species'])['SepalWidthCm'].apply(statistics.mode)

Species
0    3.4
1    3.0
2    3.0
Name: SepalWidthCm, dtype: float64

In [28]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.max])

           Id             SepalLengthCm             SepalWidthCm              \
          sum   mean amax           sum   mean amax          sum   mean amax
Species
0        1275   25.5   50         250.3  5.006  5.8        170.9  3.418  4.4
1        3775   75.5  100         296.8  5.936  7.0        138.5  2.770  3.4
2        6275  125.5  150         329.4  6.588  7.9        148.7  2.974  3.8

        PetalLengthCm             PetalWidthCm
                  sum   mean amax          sum   mean amax
Species
0                73.2  1.464  1.9         12.2  0.244  0.6
1               213.0  4.260  5.1         66.3  1.326  1.8
2               277.6  5.552  6.9        101.3  2.026  2.5